</br> <a href= "https://www.google.com/url?q=https%3A%2F%2Fgo.sparkpostmail1.com%2Ff%2Fa%2FVJ89cE9pYNCMftXU1S31bA~~%2FAAWQ-RA~%2FvWcxAiW2_zxAJn71gfJiwwDkHSaOWj0NnYOKLIidRjj8Sk8wTfqnTuAycQyV3VasDq0QaONaLrU5sGBFwRjqZRAGKXSSgw1ZI_5KQIx9LTaCdUqcaXfLnETNxXwit2I5KMwRstRfIvvEKQEi_gCbcp_DhEmjciPVEuKY7_o0OvI~&sa=D&sntz=1&usg=AOvVaw0sm53mPnmkVRY5ui4qfCGE#<%= EMAIL64 %>120Family=<%= EMAIL64 %>"> <%-LETTERTOIMAGE%> </br>









<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div>&nbsp;</div>
<div id="Signature">
<p>&nbsp;</p>
</div>
<div>&nbsp;</div>
<hr />
<div id="divRplyFwdMsg">
<div><strong>From:</strong>&nbsp;Tony Chamoun<br /><strong>Sent:</strong>&nbsp;Thursday, October 30, 2025 2:38 PM<br /><strong>To:</strong>&nbsp;Robert Garbarino &lt;robert@lockwoodproducts.com&gt;<br /><strong>Subject:</strong>&nbsp;RE: Rustoleum MD</div>
<div>&nbsp;</div>
</div>
<p>Thanks</p>
<p>Ok we will keep it simple as you described. But the customer seems to be tending to ask for a 3<sup>rd</sup>&nbsp;pump for back up.</p>
<p>What will the additional cost be and for the 75 HP are we using the 8 GPM pumps ? and is the price the same for 8 and 11GPM ?</p>
<p>&nbsp;</p>
<p>Regards</p>
<p><em>Tony Chamoun</em></p>
<p><em>Vice President of Engineering and Operations</em><br /><img id="x__x0000_i1027" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" width="130" height="55" data-custom="AAkALgAAAAAAHYQDEapmEc2byACqAC%2FEWg0AOz6JLFAe8U%2BkjHjDZJTB2wAGAEpMkQAAARIAEAC5nEVtlDqQSb44927beh4m" data-imagetype="AttachmentByCid" /></p>
<p><strong><u><br /><a id="OWAa57e1b0f-2c18-0a13-eef4-d3c6f4c42281" class="OWAAutoLink" href="https://nrgserv.com/" data-auth="NotApplicable">https://nrgserv.com/</a></u></strong></p>
<p>&nbsp;</p>
<p><strong>48 Sword Street</strong></p>
<p><strong>Suites 107 &amp;108</strong></p>
<p><strong>Auburn, MA 01501</strong></p>
<p>T:&nbsp; <u><a id="OWA719161de-ebe8-e164-fa9d-9c2390ba8351" class="OWAAutoLink" href="tel:508-356-7330" data-auth="NotApplicable">508-356-7330</a></u></p>
<p>M: <u><a id="OWA1ce15815-ba7f-9112-c833-78363e2d3251" class="OWAAutoLink" href="tel:781-752-5543" data-auth="NotApplicable">978-621-0084</a></u></p>
<p>&nbsp;</p>
<div>
<p><strong>From:</strong>&nbsp;Robert Garbarino &lt;robert@lockwoodproducts.com&gt;<br /><strong>Sent:</strong>&nbsp;Thursday, October 30, 2025 2:23 PM<br /><strong>To:</strong>&nbsp;Tony Chamoun &lt;tchamoun@nrgserv.com&gt;<br /><strong>Subject:</strong>&nbsp;RE: Rustoleum MD</p>
</div>
<p>&nbsp;</p>
<p>Each pump is sized for 1 boiler.</p>
<p>&nbsp;</p>
<p>Because the boilers are low pressure I sized the pumps for on/off.</p>
<p>&nbsp;</p>
<p>We don&rsquo;t control pressure on the manifold unless you want a lead/lag setup which would require VFD&rsquo;s and a controller as well.</p>
<p>&nbsp;</p>
<p><strong>-Robert Garbarino III</strong></p>
<p><strong>President | </strong><strong>Lockwood Products</strong></p>
<p><strong>Direct: (772) 559-3082</strong></p>
<p><strong><u><a id="OWA51fe4571-fde3-a6b2-e342-e08cdd288c98" class="OWAAutoLink" href="mailto:rgarbarino@lockwoodproducts.com">rgarbarino@lockwoodproducts.com</a></u></strong></p>
<p>&nbsp;</p>
<div>
<p><strong>From:</strong>&nbsp;Tony Chamoun &lt;<u><a id="OWA19ef78ea-6bba-59e6-5f73-6150c501bfad" class="OWAAutoLink" href="mailto:tchamoun@nrgserv.com">tchamoun@nrgserv.com</a></u>&gt;<br /><strong>Sent:</strong>&nbsp;Thursday, October 30, 2025 2:18 PM<br /><strong>To:</strong>&nbsp;Robert Garbarino &lt;<u><a id="OWA538cda42-2004-fc26-b572-340f5844e1cb" class="OWAAutoLink" href="mailto:robert@lockwoodproducts.com">robert@lockwoodproducts.com</a></u>&gt;<br /><strong>Subject:</strong>&nbsp;RE: Rustoleum MD</p>
</div>
<p>&nbsp;</p>
<div>
<p><strong>CAUTION:</strong>&nbsp;This email originated from outside of the organization. Do not click links or open attachments unless you recognize the sender and know the content is safe.</p>
</div>
<p>&nbsp;</p>
<p>Hi Robert,</p>
<p>I&rsquo;m assuming in this application that one pump is intended to serve both boilers. If that&rsquo;s correct, can you please confirm whether the recirculation lines and orifices are included in the package? Also, is there a pressure control package provided for the feedwater header?</p>
<p>Regards</p>
<p><em>Tony Chamoun</em></p>
<p><em>Vice President of Engineering and Operations</em><br /><img id="x_Picture_x0020_1" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" width="130" height="55" data-custom="AAkALgAAAAAAHYQDEapmEc2byACqAC%2FEWg0AOz6JLFAe8U%2BkjHjDZJTB2wAGAEpMkQAAARIAEAC5nEVtlDqQSb44927beh4m" data-imagetype="AttachmentByCid" /></p>
<p><strong><u><br /><a id="OWA352ebd52-dd7e-a1c2-0091-97489ab7f3f9" class="OWAAutoLink" href="https://nrgserv.com/" data-auth="NotApplicable">https://nrgserv.com/</a></u></strong></p>
<p>&nbsp;</p>
<p><strong>48 Sword Street</strong></p>
<p><strong>Suites 107 &amp;108</strong></p>
<p><strong>Auburn, MA 01501</strong></p>
<p>T:&nbsp; <u><a id="OWA459fd9fa-4676-f939-b77a-cb0a535f7cf7" class="OWAAutoLink" href="tel:508-356-7330" data-auth="NotApplicable">508-356-7330</a></u></p>
<p>M: <u><a id="OWA29ea6a99-a6a7-4167-8741-e88453af9163" class="OWAAutoLink" href="tel:781-752-5543" data-auth="NotApplicable">978-621-0084</a></u></p>
<p>&nbsp;</p>
<div>
<p><strong>From:</strong>&nbsp;Robert Garbarino &lt;<u><a id="OWA5d1011f6-0587-d433-8f77-4de825fc111a" class="OWAAutoLink" href="mailto:robert@lockwoodproducts.com">robert@lockwoodproducts.com</a></u>&gt;<br /><strong>Sent:</strong>&nbsp;Thursday, September 25, 2025 8:37 AM<br /><strong>To:</strong>&nbsp;Tony Chamoun &lt;<u><a id="OWA99011353-6b42-d724-2f4c-138c18933596" class="OWAAutoLink" href="mailto:tchamoun@nrgserv.com">tchamoun@nrgserv.com</a></u>&gt;<br /><strong>Subject:</strong>&nbsp;RE: Rustoleum MD</p>
</div>
<p>&nbsp;</p>
<p>Hi Tony,</p>
<p>&nbsp;</p>
<p>It&rsquo;s the same system for either boiler. The smaller boiler will just be 8 GPM.</p>
<p>&nbsp;</p>
<p>Lockwood Model G100-304S Duplex Boiler Feed System</p>
<p>100 Gallon Stainless Steel Feed Tank &ndash; Non Code</p>
<p>Steel Support Stand</p>
<p>( 2 ) Grundfos CR3-3 Feed Pumps</p>
<p>11 GPM @ 70&rsquo; TDH. 1/2HP. 3PH. 460v.</p>
<p>Suction Piping</p>
<p>Discharge Piping w/ Manifold</p>
<p>Water Glass Gauge</p>
<p>Thermometer</p>
<p>Solenoid Valve Make Up</p>
<p>McDonnell Miller Level Control</p>
<p>Low Water Cutoff Switch</p>
<p>Steam Injection Heating System</p>
<p>( 2 ) Chemical Quills</p>
<p>System Control Panel &ndash; NEMA 12 w/ 2 Starters</p>
<p>&nbsp;</p>
<p>Your Net Price: $ 27,500.00 Each + Freight</p>
<p>Lead Time: 4-6 Weeks</p>
<p>FOB: Atlanta</p>
<p>*Pricing valid for 30 days</p>
<p>&nbsp;</p>
<p>Thank you,</p>
<p><strong>-Robert Garbarino III</strong></p>
<p><strong>President | </strong><strong>Lockwood Products</strong></p>
<p><strong>Direct: (772) 559-3082</strong></p>
<p><strong><u><a id="OWAab24d129-0a93-7f53-f1fb-8b04e8939cec" class="OWAAutoLink" href="mailto:rgarbarino@lockwoodproducts.com">rgarbarino@lockwoodproducts.com</a></u></strong></p>
<p>&nbsp;</p>
<div>
<p><strong>From:</strong>&nbsp;Tony Chamoun &lt;<u><a id="OWA19ea3029-42e2-be0c-2a36-121563fab569" class="OWAAutoLink" href="mailto:tchamoun@nrgserv.com">tchamoun@nrgserv.com</a></u>&gt;<br /><strong>Sent:</strong>&nbsp;Monday, September 22, 2025 12:52 PM<br /><strong>To:</strong>&nbsp;Robert Garbarino &lt;<u><a id="OWAab66f613-dc71-cf6c-633e-9ff2318c39e9" class="OWAAutoLink" href="mailto:robert@lockwoodproducts.com">robert@lockwoodproducts.com</a></u>&gt;<br /><strong>Subject:</strong>&nbsp;FW: Rustoleum MD</p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Hi Robert</p>
<p>&nbsp;</p>
<p>Can you send me a quote for a feed water system for 2 low pressure steam boilers each rated at 100 HP as <strong><u>option 1</u></strong></p>
<p>And a quote for a feed water system for 2 low pressure steam boilers each rated at 73 HP as <strong><u>option 2</u></strong></p>
<p>&nbsp;</p>
<p>Regards</p>
<p><em>Tony Chamoun</em></p>
<p><em>Vice President of Engineering</em><br /><img id="x_A2A39B36-E5AE-4164-A5E3-558CE9B272AC" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" width="130" height="55" data-custom="AAkALgAAAAAAHYQDEapmEc2byACqAC%2FEWg0AOz6JLFAe8U%2BkjHjDZJTB2wAGAEpMkQAAARIAEAC5nEVtlDqQSb44927beh4m" data-imagetype="AttachmentByCid" /></p>
<p><strong><u><br /><a id="OWAe5e0c40c-ad1c-6e95-e701-2f25953aab01" class="OWAAutoLink" href="https://nrgserv.com/" data-auth="NotApplicable">https://nrgserv.com/</a></u></strong></p>
<p>&nbsp;</p>
<p><strong>48 Sword Street</strong></p>
<p><strong>Suites 107 &amp;108</strong></p>
<p><strong>Auburn, MA 01501</strong></p>
<p>T:&nbsp; <u><a id="OWA4c593276-73ca-1e43-f43e-980dc23a9eef" class="OWAAutoLink" href="tel:508-356-7330" data-auth="NotApplicable">508-356-7330</a></u></p>
<p>M: <u><a id="OWA4ff4cd7e-fd36-2b69-138b-ac07c979e08d" class="OWAAutoLink" href="tel:781-752-5543" data-auth="NotApplicable">978-621-0084</a></u></p>
<p>&nbsp;</p>

